<ion-item-sliding *ngFor="let user of users" >
  <ion-item>
    <ion-avatar>
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
    </ion-avatar>
    <ion-label>
      <h3>{{user.fullName}}</h3>
      <p>{{user.mobile}}</p>
      <div *ngIf="!canDelete">
        <ion-badge color="danger" >پرداخت نشده</ion-badge>    
      </div>
    </ion-label>
    <ion-badge color="success" *ngIf="user.isAdmin  && canDelete">مدیر صندوق</ion-badge>
  </ion-item>

  <div *ngIf="canDelete">
    <ion-item-options side="end" *ngIf="!user.isAdmin" (click)="deleteUser(user)">
      <ion-item-option color="danger">
        <ion-icon name="trash"></ion-icon>
        <ion-text>حذف</ion-text>
      </ion-item-option>
    </ion-item-options>
  </div>
</ion-item-sliding>