<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" ></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">صندوق ها</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
    <ion-card *ngFor="let fund of funds" routerLink="/fund/{{fund.id}}" >
      <ion-item lines="none" >
        <span class="title-circle"></span>
        <ion-label>{{fund.title}}</ion-label>
        <ion-badge color="danger" >قرض الحسنه</ion-badge>
      </ion-item>
      <ion-item lines="none" >
        <span class="circle"></span>
        <ion-label> <p>اقساط: 9 قسط</p></ion-label>
      </ion-item>
      <ion-item lines="none" >
        <span class="circle"></span>
        <ion-label> <p>قسط هر دوره: {{fund.shareAmount}}</p></ion-label>
      </ion-item>

    </ion-card>
</ion-content>
